body{
    font-family: 'Poppins', sans-serif;
    
}
h1{
    font-size: 50px;
    padding: 25px;
}
.blue-color{
    color: blue;
}
h3{
    
    background-color: cadetblue;
}
p{
    margin-left: 20px;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 2%;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(52, 8, 247), rgb(9, 168, 241));
    padding: 10px 40px;
    color:red;
    font-weight: 700;
    border-radius:5px ;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    
}